.aboutContainer {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

@media (min-width: 911px) {
  .aboutContainer {
    flex-direction: row;
    padding: 2rem;
  }
}


.aboutImage {
  margin: 0 auto;
  width: 75%;
}

.aboutImage img{
  max-width: 100%;
  object-fit: cover;
  box-shadow: -0.5rem .5rem 0 var(--highlight);
  border-radius: 5px;
}
@media (min-width: 911px) {

  .aboutImage img{
  box-shadow: -1.1rem 1.1rem 0 var(--highlight);

  }
}


.AboutTextContainer {

  /* margin-top: 3rem; */
  padding: 1rem;
  max-width: 75ch;
}

.AboutTextTitle h2{
  font-size: 3rem;
  flex-grow: 1;
  line-height: .5;
  margin-bottom: 1.5rem;
  font-family: var(--highlightFont);
}

.AboutTextTitle h2::after {
  content: " ";
  display: inline-block;
  border-radius: 5px;
  height: 5px;
  width: 100%;
  background-color: var(--highlight);
}

.aboutTextGroup {
  font-size: 1rem;
  font-family: var(--primaryFont);
}

.aboutTextGroup p {
  margin: 1rem 0;
} 