.contactContainer{
  /* height: 50rem; */
  width: 100%;
  background-color: var(--secondary);
  border-radius: 5px;
  border: 2px solid var(--highlight);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  gap: 2rem;
}

@media (min-width: 764px) {
  .contactContainer{
    width: 45rem;
  }
}


.contactTitle {
  font-size: 3rem;
  font-family: var(--highlightFont);
  color: var(--primary);
  line-height: .5;
}

.contactTitle::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 5px;
  background-color: var(--highlight);
  border-radius: 50px;
}



.contactForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  gap: 1rem;
}

.contactLabel {
  display: flex;
  flex-direction: column;
  color: var(--primary);
  font-weight: 600;
  font-size: 1.5rem;
}

.contactInput{
  border: 2px solid var(--highlight);
  border-radius: 5px;
  background-color: transparent;
  padding: 1rem;
  font-size: 1.3rem;
  color: var(--primary);
}

.contactTextArea{
  border: 2px solid var(--highlight);
  border-radius: 5px;
  background-color: transparent;
  padding: 1rem;
  font-size: 1.3rem;
  color: var(--primary);
  resize:none;
  height: 15rem;
}

.contactInput:focus, .contactTextArea:focus{
  outline: 2px solid var(--highlight)
}

.btnSend {
  background-color: var(--highlight);
  border-radius: 15px;
  line-height: 0;
  padding: 1.2rem;
  width: 100%;
  align-self: flex-end;
  color: var(--primary);
  font-weight: 600;
  font-size: 1.5rem;
  transition: all .3s ease-in-out;
}



.btnDisabled {
  background-color: var(--shadowBox);
  border-radius: 15px;
  line-height: 0;
  padding: 1.2rem;
  width: 100%;
  align-self: flex-end;
  color: var(--primary);
  font-weight: 600;
  font-size: 1.5rem;
  transition: all .3s ease-in-out;
}

@media (min-width: 764px) {
  .btnSend{
    width: fit-content;

  }
  .btnDisabled{
    width: fit-content;

  }
}


.btnSend:hover {
  cursor: pointer;
  box-shadow: 0 0 15px var(--highlight);
  transform: scale(1.1);
  filter: brightness(1.2);

}
.btnClose {
  position: absolute;
  top: 2rem;
  right: 2rem;
  color: var(--highlight);
  font-size: 2rem;
  font-family: var(--highlightFont);
  font-weight: 600;
}
.btnClose:hover {
  cursor: pointer;
  text-shadow: 0 0 15px var(--highlight);
  transform: scale(1.1);
  filter: brightness(1.2);

}


.msgSucess {

  position: absolute;
  bottom: 1rem;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: fit-content;
  background-color: green;
  color: var(--textButton);
  font-weight: 600;
  font-size: 1.4rem;
  padding: 1rem;
  border-radius: 15px;
}


.msgFailed {
  position: absolute;
  bottom: 1rem;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: fit-content;
  background-color: red;
  color: var(--textButton);
  font-weight: 600;
  font-size: 1.4rem;
  padding: 1rem;
  border-radius: 15px;
}