@import url('https://fonts.googleapis.com/css2?family=K2D:wght@500&family=Poppins:wght@300;600&display=swap');

:root {

  /*
    -----------------------------------------------------------------------
                                Colores Web
    -----------------------------------------------------------------------
  */
  --primary: #ededed;
  --secondary: #2d2d2d;
  --highlight: #ed1e79;
  --text: #ededed;
  --shadowBox: #4c4c4c;

  /*
    -----------------------------------------------------------------------
                                Colores Textos
    -----------------------------------------------------------------------
  */
  --textButton: #ededed;


  


  /*
    -----------------------------------------------------------------------
                            Fuentes
    -----------------------------------------------------------------------
  */
  
  --primaryFont: 'Poppins', sans-serif, system;
  --highlightFont: 'K2D', sans-serif, system;
  /*
    -----------------------------------------------------------------------
                            Fuentes grosores
    -----------------------------------------------------------------------
  */
  
  --fontTitles: 600;
  --fontNormal: 300;
  --fontHighlight: 500

  
  /*
    -----------------------------------------------------------------------
                            BreakPoints
    -----------------------------------------------------------------------
  */
  
  --mobile: 768px;
  --tablet: 1024px;
  --desktop: 1280px;
  
  
  
  /*
    -----------------------------------------------------------------------
                            Fondos
    -----------------------------------------------------------------------
  */

  --background: url('../../public/img_static/background_dark.svg');
}


[data-theme=true]{
    /*
    -----------------------------------------------------------------------
                                Colores Web
    -----------------------------------------------------------------------
  */
  --primary: #2d2d2d;
  --secondary: #ededed;
  --highlight: #ed1e79;
  --text: #2d2d2d;
  --shadowBox: #afafaf;


    /*
    -----------------------------------------------------------------------
                                Colores Textos
    -----------------------------------------------------------------------
  */

  --textButton: #ededed;

    /*
    -----------------------------------------------------------------------
                            Fondos
    -----------------------------------------------------------------------
  */

  --background: url('../../public/img_static/background_White.svg');


}