.footerWeb {
  width: 100%;
  background-color: var(--highlight);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.containerFooter {

  margin: 1rem 0;
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-around;
  align-items: center;
}

@media (min-width: 764px) {
  .containerFooter {
    flex-direction: row;
  }
}

.socialIcons {
  display: flex;
  gap: 1rem;
  margin: 0;
  zoom: .7;
}

@media (min-width: 764px) {
  .socialIcons {
    zoom: 0;
  }
}

.socialIcons a {
  transition: all .3s ease-in-out;
}

.socialIcons a:hover{
  cursor: pointer;
  filter: brightness(1.2);
  filter: drop-shadow(0 0 15px var(--primary));
  transform: scale(1.1);
}


.footerText {
  color: var(--textButton);
  text-align: center;
  font-size: 1rem;
  margin-bottom: 2rem;
}