
.homeBackground {
  background-image: var(--background);
  background-size: cover;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 3px solid var(--highlight);
}


.homeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
  height: 100%;
  width: 100%;
}

@media (min-width: 764px ) {
  .homeContainer {
    flex-direction: row;
  }
}


.HomePicture {
  position: relative;
  width: 100%;
  height: 45%;
}
@media (min-width: 764px ) {
  .HomePicture {
  height: 100%;
  width: 60%;
  }
}

.photo{
  object-fit: contain;
  object-position: right bottom;
  width: 100%;
  height: 100%;
}

.info{
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  gap: 1.5rem;
}



.homeLogo{
  font-family: var(--highlightFont);
  font-size: 3rem;
  line-height: .5;
}

.homeLogo span{
  font-family: var(--primaryFont);
  color: var(--highlight);
  font-size: 1.3rem;
  padding-left: 1rem;
}

@media (min-width: 913px ) {
  .homeLogo{
    font-size: 5rem;
  }
  
  .homeLogo span{
    font-size: 2.3rem;

  }
}

.homeSocialNetworksGroup{
  display: flex;
  gap: 1rem;
}


.homeSocialNetworksGroup a{
  transition: all .3s ease-in-out;

}

.homeSocialNetworksGroup a:hover {
  cursor: pointer;
  filter: drop-shadow(0 0 15px var(--highlight)) brightness(1.2);
  transform: scale(1.2);

}


.btnContact{
  background-color: var(--highlight);
  line-height: 0;
  border-radius: 5px;
  padding: 1rem 1rem;
  color: var(--textButton);
  font-size: 1rem;
  font-weight: 600;
  transition: all .3s ease-in-out;
}

.btnContact:hover {
  cursor: pointer;
  filter: drop-shadow(0 0 15px var(--highlight)) brightness(1.2);
  transform: scale(1.1);

}
