.homeBackground {
  background-image: url('../../public/img_static/background_dark.svg');
  background-size: cover;
  height: 100vh;
  border-bottom: 3px solid var(--highlight);
}


.homeContainer {
  position: relative;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items:center;
  gap: 1.5rem;
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;  
}

.homeLogo {
  font-size: 7rem;
  font-family: var(--highlightFont);
  line-height: .45;
  margin-bottom: 1rem;
}

.homeLogo span {
  font-size: 3.3rem;
  margin-left: 1rem;
  font-family: var(--primaryFont);
  color: var(--highlight);

}

.homeSocialNetworksGroup {
  display: flex;
  gap: 1rem;
}

.homeSocialNetworksGroup a {
  transition: all .3s ease-in-out;
}

.homeSocialNetworksGroup a:hover{
  cursor: pointer;
  filter: brightness(1.2);
  filter: drop-shadow(0 0 15px var(--highlight));
  transform: scale(1.1);
}

.btnContact{
  font-size: 2rem;
  font-family: var(--primaryFont);
  font-weight: 600;
  color: var(--primary);
  background-color: var(--highlight);
  padding: .2rem 1rem;
  line-height: 1;
  border-radius: 15px;
  transition: all .3s ease-in-out;

}

.btnContact:hover {
  cursor: pointer;
  filter: brightness(1.2);
  box-shadow:0 0 15px var(--highlight);
  transform: scale(1.1);
}

.HomePicture {
  /* position: absolute; */
  max-width: 50rem;
  bottom: 0;
  right: 0;
  line-height: 0;
}

.HomePicture img{
object-fit: cover;
border-radius: 100%;
border-bottom: 5px solid var(--highlight);
border-right: 2px solid var(--highlight);
}