.navbar {
  position: fixed;
  top:0;
  z-index: 20;
  width: 100%; 
  backdrop-filter: blur(10px) brightness(.95);
}

.containerNavbar{
  max-width: 1200px;
  display: flex;
  justify-content: space-around ;
  align-items: center; 
  margin: 0 auto;
}

.logoContainer {
  position: relative;
  height: 3rem;
  width: 15rem;
}


@media (min-width: 764px) {
  .logoContainer {
    height: 5rem;
    max-width: 15rem 
  }
}

.logoimg{
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}
.menuContainer{
  flex-grow: 1;
}


.btnMenuMobile {
  position: relative;
  height: 2rem;
  width: 2rem;
}
